<div>
  <div>
    <h1>Welcome to Syed's Truck Showroom</h1>
  </div>
  <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
    <div class="form-group">
      <select class="custom-select"  #truck="ngModel" name="truck" ngModel>
        <option value="default"> The truck I want is </option>
        <option *ngFor="let truck of trucks" [ngValue]="truck">{{ truck.name }}</option>
      </select>    
    </div>
  
    <div class="form-group">
      <select class="custom-select"  #cruiseControl="ngModel" name="cruiseControl" ngModel>
        <option value="default"> The Cruise Control I want is </option>
        <option *ngFor="let cruiseControl of cruiseControls" [ngValue]="cruiseControl">{{ cruiseControl.type }}</option>
      </select>    
    </div>
  
    <div class="form-group">
      <select class="custom-select"  #trim="ngModel" name="trim" ngModel>
        <option value="default"> The Trim of the truck I want is </option>
        <option *ngFor="let trim of trims" [ngValue]="trim">{{ trim.type }}</option>
      </select>    
    </div>
  
    <div class="form-group">
      <label>Please Enter your Name:</label>
      <input type="text" required class="form-control" name="name" ngModel>
    </div>

    <div>
      Your total Cost is {{orderForm.value.truck.price + orderForm.value.trim.price + orderForm.value.cruiseControl.price}}
    </div>

    <button class="btn btn-primary" type="submit">Submit Order</button>
  </form>
</div>